h1 {
    text-align: center; 
    font-family: Georgia;
    font-weight: bold;
}
body {
    background-color: #00BFFF;
}
button {
background-color: #007bff;
  color: black;
  padding: 10px 100px;
  border: 2px solid rgb(253, 255, 250);
  border-radius: 1000px;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background: #ffc107;
}
img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
#options {
    display: flex;
  justify-content: space-around;
}
.game-btn {
    background-color: orange;
  border-radius: 1000px;          
  font-size: 20px;
  padding: 10px 100px;
  border: 2px solid rgb(253, 255, 250);
  padding: 10px 100px;
}

